#book
{
  background-color: #4CAF50;
  color:white;
  text-align:center;
  padding:14px 100px 100px 70px;
  margin:0px 0;
  cursor:pointer;
  width:auto;
}
button:hover{
  opacity: 0.8;
}

 input[type=text]
{
  width:100%
  padding:12px 20px;
  margin:8px 0;
  border:1px solid #ccc;
  box-sizing: border-box;
}
#option
{
  padding:0.5% 14%;
  margin: 1px;
}

.feature-box
{
  text-align: center;
}
h3{
  font-family:"Montserrat-Bold";
  color: #4CAF50;
}
#cf {
  position:relative;
  height:50px;
  width:100px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}
h1{
  text-align: center;
  color:tomato;
}
